pyportfolioopt==1.5.6
tenacity==9.1.2
pyfolio-reloaded==0.9.8
vnstock==3.2.2
ipykernel==6.29.5
ipython==8.36.0
ipywidgets==8.1.6
numpy==2.2.5
riskfolio-lib==7.0.0
quantstats==0.0.64
statsmodels==0.14.4
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git@e6f6aaa7de439ac6e454d9b26d2760ded8dc4923
tradingview-ta==3.3.0 
nbformat>=5.10.4
kaleido==0.2.1
ipykernel==6.29.5
bokeh==3.7.2
voila==0.5.8